.main-container {
  min-height: 105rem;
  background-image: url("../assets/img/bg-main-pic.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.entire-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 900px;
  min-height: 105rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 53rem;
}

.main-logo img {
  width: 300px;
  margin-bottom: 50px;
}

.title,
.subtitle {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 55px;
  margin-bottom: 30px;
}

.star {
  color: red;
}

.subtitle {
  color: #FFD762;
  -webkit-filter: drop-shadow(0 0 15px #FFBC00);
          filter: drop-shadow(0 0 15px #FFBC00);
}

.login-form {
  box-shadow: -1px 0px 15px 1px rgba(213, 213, 42, 0.72);
  -webkit-box-shadow: -1px 0px 15px 1px rgba(213, 213, 42, 0.72);
  -moz-box-shadow: -1px 0px 15px 1px rgba(213, 213, 42, 0.72);
  text-align: center;
  max-width: 90%;
  border-radius: 12px;
  background: -webkit-gradient(linear, left top, right top, from(#350B2D), color-stop(#8C5B82), to(#350B2D));
  background: linear-gradient(0.25turn, #350B2D, #8C5B82, #350B2D);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 315px;
  padding-top: 50px;
}

.login__username,
.login__pass {
  border-radius: 6px;
  position: relative;
  background-color: #350B2D;
  color: #fff;
  padding: 10px;
  height: 37px;
  width: 85%;
}

.required:after {
  content: " *";
  color: red;
  position: relative;
  left: 59px;
  z-index: 99;
}

.required-2:after {
  content: " *";
  color: red;
  position: relative;
  left: 86px;
  z-index: 99;
}

.login-form input::-webkit-input-placeholder {
  color: #fff;
}

.login-form input::-moz-placeholder {
  color: #fff;
}

.login-form input:-ms-input-placeholder {
  color: #fff;
}

.login-form input::-ms-input-placeholder {
  color: #fff;
}

.login-form input::placeholder {
  color: #fff;
}

.login__submit-btn {
  border-radius: 6px;
  background-color: #FFD762;
  color: #000;
  font-weight: bold;
  height: 50px;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.register-link {
  color: #fff;
}

.registration {
  color: #FFD762;
}

div .w-100 {
  width: 90%;
}

.footer {
  min-height: 250px;
}

.footer__title,
.footer__subtitle {
  text-align: center;
  color: #AF894A;
}

.footer__logos {
  text-align: center;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.firstname,
.lastname::after {
  content: " *";
  color: red;
  position: relative;
  left: 86px;
  z-index: 99;
}

@media (max-width: 600px) {
  .footer__title,
  .footer__subtitle {
    visibility: hidden;
  }
}